* {
}

.banner {
  width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.banner-container {
  width: 100%;
  background-color: #003585;
}
.shopNow {
  width: 144px;
  height: 50px;
  border-radius: 25px;
  background-color: white;
  border: 0px;
  color: #003585;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 600;
}

.viewMore {
  width: 144px;
  height: 50px;
  border-radius: 25px;
  background-color: #003585;
  border: 1px solid #a7f65c;
  color: #a7f65c;
  font-size: 16px;
  font-weight: 600;
}

.bannerTitle h1 {
  font-size: 50px;
  font-weight: 700;
}

.bannerTitle p {
  font-size: 50px;
  font-weight: 500;
}

.bannerTitle {
  padding-bottom: 45px;
}

.bannerPic {
  position: relative;
}

.bannerPrice {
  position: absolute;
  padding: 25px 30px;
  background-color: #a7f65c;
  border-radius: 100px;
  right: 0;
  bottom: 100px;
}

.bannerPrice p {
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: #003585;
}
